@import url('components/avatar.css');
@import url('components/alert.css');
@import url('components/badge.css');
@import url('components/button.css');
@import url('components/card.css');
@import url('components/image.css');
@import url('components/input.css');
@import url('components/navigation.css');
@import url('components/lists.css');
@import url('components/typography.css');
@import url('components/modal.css');
@import url('components/rating.css');

/* GLOBAL STYLES */

:root {
  --online-avatar-color: #38a169;
  --offline-avatar-color: #ff6347;
  --success-background-color: #c6f6d5;
  --warning-background-color: #feebc8;
  --error-background-color: #fed7d7;
  --info-background-color: #bee3f8;
  --error-icon-color: #ff6347;
  --success-icon-color: #38a169;
  --warning-icon-color: #dd6b20;
  --info-icon-color: #3182ce;
  --primary-button: #bee3f8;
  --secondary-button: #c6f6d5;
}
