.btn {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
  color: black;
}

.btn-primary {
  background-color: var(--primary-button);
  opacity: 0.8;
}

.btn-primary:hover {
  opacity: 1;
}

.btn-secondary {
  background-color: var(--secondary-button);
  opacity: 0.8;
}

.btn-secondary:hover {
  opacity: 1;
}

/* XS BUTTONS */

.btn-xs {
  width: 4.5rem;
  padding: 0.3rem;
}

/* SM BUTTONS */

.btn-sm {
  width: 6rem;
  padding: 0.5rem;
}

/* MD BUTTONS */

.btn-md {
  width: 7.5rem;
  padding: 0.7rem;
}

/* LG BUTTONS */
.btn-lg {
  width: 9rem;
  padding: 0.9rem;
}

/* LINK BUTTONS  */
/* ---------------------- */

.btn-link {
  width: 4.5rem;
  padding: 0.3rem;
}

/* ICON BUTTONS  */
/* ---------------------- */

.btn-icon {
  padding: 0.5rem;
}

/* FLOATING BUTTONS  */
/* ---------------------- */

.btn-floating {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgb(0, 0, 0, 0.2);
  transition: transform 0.2s;
  opacity: 0.7;
}
.btn-floating:hover {
  transform: translateY(-10%);
  opacity: 1;
}

.btn-floating-primary {
  background: var(--primary-button);
}

.btn-floating-secondary {
  background: var(--secondary-button);
}
