.card {
  width: 15rem;
  padding: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-overlay {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.card-overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.card-hero {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-hero img {
  width: 100%;
}

.hero-title {
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translateY(50%); */
}

.card-title {
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title > i.far.fa-bookmark:before {
  border: none;
  cursor: pointer;
}

.card-title > i.far.fa-bookmark:before :hover {
  background-color: black;
}

.card-sub-title {
  margin: 0;
  padding: 0;
  opacity: 0.7;
  margin-top: 0.5rem;
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
}

.card-body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-body p {
  margin: 0;
}

.card-link {
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 0.4rem;
  display: flex;
  align-items: flex-start;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.dismiss {
  display: flex;
  padding: 0.2rem;
  justify-content: flex-end;
  cursor: pointer;
}

.card-horizontal-container {
  width: 15rem;
  padding: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-horizontal {
  /* padding: 0.3rem; */
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-horizontal-hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.card-horizontal-hero img {
  width: 100%;
}

.card-horizontal-title {
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-horizontal-sub-title {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
  opacity: 0.7;
  margin-top: 0.3rem;
  letter-spacing: 0.2rem;
}

/* PRODUCT CARDS */

.prod-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 17rem;
}

.prod-card-hero {
  width: 100%;
  position: relative;
  height: 10rem;
}

.prod-card-hero img {
  width: 100%;
  height: 100%;
}

.prod-card-wishlist {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
}

.prod-card-wishlist:hover .prod-wishlist-icon {
  color: var(--error-icon-color);
}

.prod-card-wishlist:hover .prod-wishlisted {
  color: var(--error-icon-color);
}

.prod-card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.prod-card-footer {
  height: 100%;
}

.prod-card-button {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--primary-button);
}
