.image {
  width: 5rem;
  height: 5rem;
}

.image-round {
  border-radius: 50%;
}

.image-square {
  border-radius: 1rem;
}

.image-responsive-container {
  width: 25rem;
}

.image-responsive {
  width: 100%;
}
