.form {
  /* border: 1px solid black; */
  width: 25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  opacity: 0.7;
}

.form-group input {
  padding: 0.3rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.form-desc {
  /* border: 1px solid black; */
  /* width: 100%; */
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.form-remember {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.form-button {
  width: 100%;
  margin-bottom: 1rem;
}

.form-button button {
  width: 100%;
}

/* ERROR FORM */

.msg-error {
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--error-icon-color);
}

.form-group-error {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.form-group-error input {
  padding: 0.3rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--error-icon-color);
}

.form-group-error label {
  margin-bottom: 0.3rem;
  letter-spacing: 0.1rem;
  opacity: 0.7;
}

/* TEXTBOX */

.textbox {
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  margin-bottom: 1rem;
  width: 100%;
  resize: none;
  height: 5rem;
}
