.nav-container {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}
.nav-container ul {
  list-style-type: none;
}

.nav-logo {
  padding: 0.3rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.nav-links-container {
  padding: 0.3rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-icon {
  color: rgb(0, 0, 0, 0.6);
  font-size: 1.5rem;
}

.nav-icon:hover {
  color: #2d3748;
}

.nav-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
  width: 20rem;
  color: rgb(0, 0, 0, 0.6);
  border: 0.5px solid rgb(0, 0, 0, 0.2);
}

.nav-search input {
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 100%;
  color: rgb(0, 0, 0, 0.6);
}
