ul {
  list-style-type: none;
  font-family: 'Segoe UI';
}

a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Segoe UI Bold';
  font-weight: 700;
  src: local('Segoe UI Bold');
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI');
}

.container-template {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas:
    'nav nav '
    'aside main ';
  gap: 0.5rem;
}

nav {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  align-items: center;
  grid-area: nav;
}

nav ul {
  list-style-type: none;
}

.nav-logo {
  padding: 0.3rem;
  cursor: pointer;
}

.nav-links-container {
  padding: 0.3rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-icon {
  color: rgb(0, 0, 0, 0.6);
  font-size: 1.5rem;
}

.nav-icon:hover {
  color: #2d3748;
}

aside {
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  border-right: 1px solid rgb(0, 0, 0, 0.1);
  grid-area: aside;
  padding: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.sidebar-components {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2d3748;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.aside-heading {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  text-transform: uppercase;
}

.aside-components {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.aside-components:hover {
  background-color: #f7fafc;
}

main {
  grid-area: main;
  padding: 1rem;
  background-color: #f7fafc;
}

.component-container {
  padding: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.component-heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Segoe UI Bold';
  opacity: 0.8;
}

.component-sub-heading {
  font-family: 'Segoe UI Bold';
  opacity: 0.8;
  font-size: 1.3rem;
}

.component-description {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  font-family: 'Segoe UI ';
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 3rem;
  color: #2d3748;
  cursor: pointer;
}

.comp-highlight {
  background-color: #2d3748;
  color: #f7fafc;
  padding: 0.3rem;
  text-align: center;
}

.component-example-container {
  height: auto;
  margin-top: 2rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.component-example-container-row {
  height: auto;
  margin-top: 2rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}

.component-iframe-container {
  height: auto;
  margin-top: 2rem;
  background-color: #151718;
  margin-bottom: 2rem;
}
